[Desktop Entry]
Version=1.0
Name=Zterm
X-GNOME-FullName=Zterm Terminal Emulator
Type=Application
Exec=zterm
TryExec=zterm
Terminal=false
StartupNotify=true
Icon=zterm
Categories=Graphics;VectorGraphics;GTK;
GenericName=Terminal Emulator
GenericName[ar]=محاكي طرفية
GenericName[ast]=Emulador de terminal
GenericName[be]=Эмулятар тэрмінала
GenericName[bg]=Терминален Емулатор
GenericName[ca]=Emulador de terminal
GenericName[cs]=Emulátor terminálu
GenericName[da]=Terminalemulator
GenericName[de]=Terminal-Programm
GenericName[el]=Ρυθμίσεις Τερματικού XFCE
GenericName[en_AU]=Terminal Emulator
GenericName[en_GB]=Terminal Emulator
GenericName[eo]=Terminala Simulilo
GenericName[es]=Emulador de terminal
GenericName[et]=Terminaliemulaator
GenericName[eu]=Terminal emuladorea
GenericName[fi]=Pääte-emulaattori
GenericName[fr]=Émulateur de terminal
GenericName[gl]=Emulador de terminal
GenericName[he]=מדמה מסוף
GenericName[hr]=Emulator terminala
GenericName[hu]=Terminálemulátor
GenericName[hy_AM]=Վերիրային վահանակ
GenericName[hye]=Վերիրային վահանակ
GenericName[id]=Emulator Terminal
GenericName[ie]=Emulator de Terminal
GenericName[is]=Skjáhermir
GenericName[it]=Emulatore di Terminale
GenericName[ja]=ターミナルエミュレーター
GenericName[kk]=Терминал эмуляторы
GenericName[ko]=터미널 에뮬레이터
GenericName[lt]=Terminalo emuliatorius
GenericName[lv]=Termināļa emulators
GenericName[ms]=Emulator Terminal
GenericName[nb]=Teminalemulator
GenericName[nl]=Terminalvenster
GenericName[oc]=Emulator de terminal
GenericName[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
GenericName[pl]=Emuluje działanie terminala X
GenericName[pt]=Emulador de terminal
GenericName[pt_BR]=Emulador de terminal
GenericName[ro]=Emulator de terminal
GenericName[ru]=Эмулятор терминала
GenericName[si]=අග්‍ර අනුකාරක
GenericName[sk]=Terminál Emulátor
GenericName[sl]=Posnemovalnik terminala
GenericName[sq]=Emulues Terminali
GenericName[sr]=Опонашач терминала
GenericName[sv]=Terminalemulator
GenericName[te]=టెర్మినల్ ఎమ్యులేటర్
GenericName[th]=โปรแกรมจำลองเทอร์มินัล
GenericName[tr]=Uçbirim Öykünücüsü
GenericName[ug]=تېرمىنال Emulator
GenericName[uk]=Емулятор терміналу
GenericName[ur]=ٹرمنل ایمولیٹر
GenericName[ur_PK]=ٹرمنل ایمولیٹر
GenericName[vi]=Trình giả lập Terminal
GenericName[zh_CN]=终端模拟器
GenericName[zh_TW]=終端機程式
Comment=Use the command line
Comment[af]=Gebruik die opdraglyn
Comment[ar]=استخدِم سطر الأوامر
Comment[be]=Эмулятар тэрмінала
Comment[bg]=Използване на команден ред
Comment[bn]=কমান্ড লাইন ব্যবহার করা হবে
Comment[ca]=Useu la línia d'ordres
Comment[cs]=Používat příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρήση γραμμής εντολών
Comment[en_GB]=Use the command line
Comment[es]=Utilice la línea de órdenes
Comment[et]=Käsurea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fa]=استفاده از خط فرمان
Comment[fi]=Käytä komentoriviä
Comment[fo]=Nýt stýriboðslinjuna
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[he]=שימוש בשורת הפקודה
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[id]=Gunakan perintah baris
Comment[is]=Nota skipanalínuna
Comment[it]=Usa la riga di comando
Comment[ja]=コマンド・ライン端末です
Comment[kk]=Командалық жолды қолдану
Comment[ko]=명령 행을 사용합니다
Comment[lg]=Kolera mu kiwandikiro
Comment[lt]=Naudoti komandų eilutę
Comment[nb]=Bruk kommandolinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandolinja
Comment[pl]=Emulator terminala
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Use a linha de comando
Comment[ro]=Utilizează linia de comandă
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sl]=Uporabi ukazno vrstico
Comment[sr]=Употребљавајте линију наредби
Comment[sr@latin]=Koristite liniju naredbi
Comment[sv]=Använd kommandoraden
Comment[te]=కమాండు లైనును వాడు
Comment[tr]=Komut satırını kullan
Comment[tt_RU]=Команда юлын куллану
Comment[ug]=بۇيرۇق قۇرىنى ئىشلەت
Comment[uk]=Використати командну стрічку
Comment[vi]=Dùng dòng lệnh
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用命令列
Keywords=console;command line;execute;
Keywords[ar]=console;command line;execute;
Keywords[ca]=consola; línia d'ordres; executa
Keywords[cs]=konzole;příkazový řádek;spuštění;
Keywords[da]=console;command line;execute;konsol;kommandolinje;eksekver;
Keywords[de]=Konsole;Befehlszeile;Ausführen;
Keywords[el]=κονσόλα;γραμμή εντολών;εκτέλεση;
Keywords[es]=consola;línea de órdenes;ejecutar;
Keywords[et]=konsool;käsurida;käivita;
Keywords[eu]=kontsola;komando-lerroa;exekutatu;
Keywords[fi]=konsoli;pääte;terminaali;komentorivi;komentotulkki;suorita;aja;console;command line;execute;
Keywords[fr]=console; ligne de commande; exécuter
Keywords[gl]=consola;liña de ordes;executar;
Keywords[he]=מסוף;קונסול;קונסולה;שורת פקודה;הפעלה;הרצה;חלון שחור;טרמינל;
Keywords[hr]=konzola;naredbeni redak;izvrši;
Keywords[hu]=konzol;parancssor;végrehajtás;
Keywords[id]=konsol;baris perintah;eksekusi;
Keywords[ja]=コンソール;コマンドライン;実行;
Keywords[kk]=консоль;командалық жол;жөнелту;орындау;console;terminal;
Keywords[ko]=console;콘솔;command line;명령줄;execute;실행;
Keywords[lg]=kiwandikiro;kiragiro;tandika mulimu;
Keywords[lt]=pultas;komandų eilutė;vykdyti;
Keywords[nb]=konsoll;ledetekst;kjør;
Keywords[nl]=terminal;opdrachtregel;uitvoeren;
Keywords[pl]=konsola;wiersz poleceń;wykonaj;
Keywords[pt]=consola;linha de comandos;executar
Keywords[pt_BR]=console;linha de comando;executar;
Keywords[ru]=консоль;командная строка;выполнить;запустить;
Keywords[sr]=конзола;командна линија;извршно;
Keywords[sv]=console;command line;execute;
Keywords[te]=కన్సోల్;ఆదేశ పంక్తి;అమలుచేయి;
Keywords[tr]=konsol;komut satırı;çalıştır;
Keywords[uk]=консоль;командна стрічка;виконати;
Keywords[zh_CN]=console;command line;execute;终端;命令行;执行;
Keywords[zh_TW]=console;command line;execute;終端機;終端;文字介面;執行;小黑窗;命令列
